@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
/*******************************************************Inicio Header******************************************/
header#cabecalho {
	background-color: rgba(249,249,249,0.66);
	color: rgba(251,11,78,1.00)/*rgb(154,16,59)*/;
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	font-size: 22px;
	font-family: Helvetica, Arial, sans-serif;
	transition: 2s;
}
img#logo {
	margin-bottom: 50px;
}
ul.menu {
	list-style: none;
	float: right;
}
ul.menu li {
	position: relative;
	float: left;
	width: 150px;
	text-align: center;
	top: 30px;
	border-right: 4px dotted rgb(77,75,75);
}
ul.menu li a {
	text-decoration: none;
	color: rgba(251,11,78,1.00);
	font-size: 22px;
	font-family: Helvetica, Arial, sans-serif;
	text-shadow: 3px -1px 6px rgba(150, 150, 150, 1);
}
/*******************************************************Final Header******************************************/
/*******************************************************Inicio Principal******************************************/
div#principal {
	width: 100%;
	height: 100%;
	/*position:absolute;*/
	background-image: url(https://i.imgur.com/AKmuCRr.png);
	/*background-attachment:fixed;*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover; /* SAFARI / CHROME */
	-moz-background-size: cover; /* FIREFOX */
	-ms-background-size: cover; /* IE */
	-o-background-size: cover; /* OPERA */
}
div#content {
	height: 100%;
	margin: 0 auto;
	position: relative;
}
div#principal p#apresentacao {
	color: white;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	padding: 20% 50px 70px 50px;
	font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: italic;
}
div#principal span#special {
	color: rgba(251,11,78,1.00);
}
div#btn {
	width: 100%;
	margin-bottom: 100px;
}
div#btn a {
	text-decoration: none;
	cursor: pointer;
}
button#botao {
	background: rgba(251,11,78,1.00);
	color: white;
	width: 200px;
	height: 50px;
	display: block;
	margin: 0 auto;
	text-decoration: none;
	cursor: pointer;
	border: none;
	font-size: 24px;
	font-family: Helvetica, Arial, sans-serif;
	transition: 2s;
}
div#btn button#botao:hover {
	background-color: rgba(0,0,0,0.02);
	border: 2px solid white;
	cursor: pointer;
	transition: 2s;
}
div#btn button#botao a:hover {
	background-color: rgba(0,0,0,0.02);
	cursor: pointer;
	font-size: -150%;
}
/*******************************************************Final Principal******************************************/
/*******************************************************Inicio portifolio******************************************/

div.galeria_portifolio { /*espaco da galeria*/
	/*width:980px;*/
	height: 100%;/*-webkit-fill-available;*/
	margin: 0 12%;
	display: block;
	overflow: hidden;
	padding: 10px 50px;/*background-color: rgba(0,0,0,0.1);*/ /*coloquei esse codigo somente para visualizar a area, pode-se nao colocar nada e fica branco */
}
section#portfolio h3 {
	border-bottom: 2px solid rgba(150,150,150,0.60);
	padding: 50px 200px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 36px;
	color: rgba(251,11,78,1.00);
}
section#portfolio p#subtitulo {
	color: rgb(251,11,78);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 36px;
	font-weight: 600;
	margin-left: 10px;
}
div#centralizar_portfolio {
	display: block;
	margin: 0px auto;
}
div.item_galeria_portifolio {  /*cada item da galeria*/
	width: 272px;
	margin: 30px 15px 0px 15px;
	float: left;
	position: relative
}
div.item_galeria_portifolio li {  /*icone de busca*/
	width: inherit;
}
div.item_galeria_portifolio div{
	width:272px;
	height:500px;
	background-color:rgba(25,25,25,0.37);
	position:absolute;
	top:0;
	left:0;
	visibility:hidden;
	transition: 0.5s;
	opacity:0	
}
div.item_galeria_portifolio div.aparece{
	visibility:visible;	
	opacity:1
}
div.item_galeria_portifolio div i{
	color:rgba(237,15,119,1.00);
	background-color:white;
	width:76px;
	height:76px;
	text-align:center;
	padding:30px;
	margin:63% auto 0 auto;
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 50%;	
}
div.item_galeria_portifolio div i:hover{
	background-color:rgb(251,15,117);
	color:white;
	transition:0.5s
}

	
	ul.album-fotos{
		list-style: none;}

ul.album-fotos li { /* codigo para cada quadrado de foto, cada li */
	float: left;
	width: 272px;
	height: 500px;
	border: 5px solid #ffffff;
	background-color: #ffffff;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
ul.album-fotos li span{ /* codigo para as legendas das fotos */
	opacity: 0;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0,0,0,0.3);
	font-size: 9pt;
	line-height: 370px;
	padding: 5px;
}


div.item_galeria_portifolio ul.album-fotos a{
	text-decoration:none;
    color:rgb(251,11,78);
	font-size:18px;
	font-weight:600;
	font-family:Helvetica, Arial, sans-serif;
	cursor:crosshair;
	text-align:center;}
	
ul.album-fotos li#foto01 { /*codigos para determinar a imagem de fundo, a posicao, o tamanho da imagem idependente do tamanho do "quadrado", cor de fundo */
	background:url(https://i.imgur.com/mw6reZq.jpg) no-repeat;	
	background-position: 50% 50%;
	display:block;
    background-size: 400px 800px;
}


ul.album-fotos li#foto02 {
	background:url(https://i.imgur.com/uwdJ1oW.png) no-repeat;	
	background-position: 50% 50%;
	display:block;
    background-size: 400px 800px;
}


ul.album-fotos li#foto03 {
	background: url(https://i.imgur.com/rNUT977.png) no-repeat;	
	background-position: 50% 50%;
	display:block;
    background-size:400px 800px;
}

ul.album-fotos li#foto04 {
	background:url(https://i.imgur.com/CKLq3Ns.png)  no-repeat;	
	background-position: 50% 50%;
	display:block;
    background-size: 400px 800px;
}


ul.album-fotos li#foto05 {
	background:url(https://i.imgur.com/LJdZLCN.png) no-repeat;
	background-position: 50% 50%;
	display:block;
    background-size: 400px 550px;
}

ul.album-fotos li#foto06 {
	background:url(https://i.imgur.com/J99IAkT.png) no-repeat;	
	background-position: 50% 50%;
	display:block;
    background-size: 400px 550px;
}

/*a.descricao{
	text-shadow:#969696 1px -1px 1px, 
				#969696 -1px 1px 1px,
				#969696 1px 1px 1px, 
				#969696 -1px -1px 1px}*/


/**************************************************inicio contato*****************************************/

section#contato{
	
	/*height: 100%;*/
	margin:0 auto;
	overflow:hidden;
	font-size:36px;
	color: rgba(251,11,78,1.00);
}
	section#contato h3{
		border-bottom: 2px solid rgba(150,150,150,0.60);
		padding:50px 200px;
		font-family:Helvetica, Arial, sans-serif;
		font-size:36px;
	color: rgba(251,11,78,1.00);}
	
ul#midias{
	list-style:none;
	text-align: center;
    margin-top: 20px;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;}
	
	ul#midias li{
		display:inline-block;
		height:128px;
		width:128px;
		}
		
		ul#midias li a{
	width:100%;
	height:100%;
	font-size:72px;
	display:block;
	border-radius:50%;
	padding-top:20px;
	padding-left:10px;
	text-align:center
}
ul#midias li a i{
	color:#202628;	
}

ul#midias li a i:hover{
	color:white;
	background-color:rgba(251,11,78,1.00);
	width:80px;
	height:80px;
	border-radius:50%;
	text-align: center;}

 span#email{
	 
	font-family:Helvetica, Arial, sans-serif;}
/*******************************************************Inicio Footer******************************************/
 footer#rodape{
	 width:100%;
display:block;
bottom:0px;
font-family: Helvetica, Arial, sans-serif;
 }
	 div#rp{
		 background:rgba(71,71,71,1.00);
		width:100%;
		color:white;
		font-size:10px;
		font-family: Helvetica, Arial, sans-serif;
		text-align:center;
		padding-top:6px;
		padding-bottom:6px;
		 }